In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Question 1

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

In [3]:
table = soup.find('table', class_='wikitable sortable')

In [4]:
df = pd.DataFrame(columns=['Rank', 'Name', 'Uploader', 'Views (Billions)', 'Upload Date'])

In [5]:
for row in table.tbody.find_all('tr'):    
    columns = row.find_all('td')
    
    if(columns != []):
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        uploader = columns[2].text.strip()
        views = columns[3].text.strip()
        upload_date = columns[4].text.strip()

        df = df.append({'Rank': rank,  'Name': name, 'Uploader': uploader, 'Views (Billions)': views, 'Upload Date': upload_date}, ignore_index=True)

In [6]:
df

,Rank,Name,Uploader,Views (Billions),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.80,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.87,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.37,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.74,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.54,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.44,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.67,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.60,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.58,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.45,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.12,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.95,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.71,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.60,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.59,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.55,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.46,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.38,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.30,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.29,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.29,"February 20, 2014"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.26,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.24,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.22,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.22,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.18,"November 9, 2017"
27,28.,"""Shake It Off""[46]",Taylor Swift,3.18,"August 18, 2014"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.16,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.09,"June 29, 2017"

# Question 2

In [39]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.bcci.tv/')

In [40]:
d.find_element_by_xpath('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [23]:
match_titles = [i.text for i in d.find_elements_by_xpath('//h5[@class="fix-text"]')]

In [24]:
match_title = [match_titles[i] for i in range(len(match_titles)) if i % 2 != 0]

In [25]:
series = [i.text.replace(' -','') for i in d.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')]

In [41]:
place = [i.text[10:] for i in d.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')]

In [27]:
date = [i.text for i in d.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')]

In [28]:
time = [i.text for i in d.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')]

In [42]:
df = pd.DataFrame({'Match': match_title, 'Series': series, 'Place': place, 'Date': date, 'Time': time})
df

,Match,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,1st T20I,"Rangiri Dambulla International Stadium, Dambulla",23 JUN 2022,2:00 PM IST
1,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,2nd T20I,"Rangiri Dambulla International Stadium, Dambulla",25 JUN 2022,2:00 PM IST
2,INDIA TOUR OF IRELAND T20 SERIES 2022,1st T20I,"The Village, Dublin",26 JUN 2022,9:00 PM IST
3,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,3rd T20I,"Rangiri Dambulla International Stadium, Dambulla",27 JUN 2022,2:00 PM IST
4,INDIA TOUR OF IRELAND T20 SERIES 2022,2nd T20I,"The Village, Dublin",28 JUN 2022,9:00 PM IST
5,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,1st ODI,"Pallekele International Cricket Stadium, Palle...",1 JUL 2022,10:00 AM IST
6,INDIA TOUR OF ENGLAND TEST SERIES 2021,5th Test,"Pallekele International Cricket Stadium, Palle...",1 JUL 2022,3:30 PM IST
7,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,2nd ODI,"Pallekele International Cricket Stadium, Palle...",4 JUL 2022,10:00 AM IST

In [43]:
d.close()

# Question 3

In [107]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.guru99.com/')

In [108]:
d.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input').send_keys('selenium exception handling')

In [109]:
d.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button').click()

In [110]:
url = d.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a').get_attribute('href')
url

'https://www.guru99.com/exception-handling-selenium.html'

In [111]:
d.close()

In [112]:
d = webdriver.Chrome('chromedriver.exe')
d.get(url)

In [ ]:
table = [i.text for i in d.find_elements_by_xpath('//tbody/tr/td')]

In [114]:
exception = [table[i] for i in range(len(table)) if i % 2 == 0]
description = [table[i] for i in range(len(table)) if i % 2 != 0]

In [115]:
df = pd.DataFrame({'Exception Name': exception, 'Description': description})
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [116]:
d.close()

# Question 4

In [129]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.statisticstimes.com/')

In [130]:
d.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
d.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [131]:
url = d.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
d.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [132]:
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

In [133]:
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['reference']
['display']
['display']

In [134]:
table = soup.find('table', class_='display')

In [135]:
df = pd.DataFrame(columns=['Rank', 'State', 'GSDP(19-20)', 'GSDP(18-19)', 'Share', 'GDP($Billion)'])

In [136]:
for row in table.tbody.find_all('tr'):    
    columns = row.find_all('td')
    
    if(columns != []):
        rank = columns[0].text.strip()
        state = columns[1].text.strip()
        gsdp1 = columns[2].text.strip()
        gsdp2 = columns[3].text.strip()
        share = columns[4].text.strip()
        gdp = columns[5].text.strip()

        df = df.append({'Rank': rank,  'State': state, 'GSDP(19-20)': gsdp1, 'GSDP(18-19)': gsdp2, 'Share': share, 'GDP($Billion)': gdp}, ignore_index=True)

In [137]:
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [138]:
d.close()

# Question 5

In [139]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://github.com/')

In [140]:
d.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()
d.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [142]:
title = [i.text for i in d.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')]

In [160]:
description = [i.text for i in d.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')]

In [161]:
description.insert(9, '-')
description.insert(11, '-')

In [151]:
repo_urls = []
for i in d.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
        repo_urls.append(i.get_attribute('href'))

In [ ]:
contributors = []
for i in repo_urls:
    d.get(i)
    contributorss = [i.text for i in d.find_elements_by_xpath('//span[@class="Counter"]')]
    contributors.append(contributorss[-1])

In [156]:
lang = [i.text for i in d.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')]

In [157]:
lang.insert(3, '-')
lang.insert(6, '-')
lang.insert(9, '-')

In [162]:
df = pd.DataFrame({'Repository Title': title, 'Repository description': description, 'Contributors Count': contributors, 'Language used': lang})

In [163]:
df

,Repository Title,Repository description,Contributors Count,Language used
0,mingrammer / diagrams,🎨 Diagram as Code for prototyping cloud system...,104,Python
1,hashicorp / nomad,"Nomad is an easy-to-use, flexible, and perform...",556,Go
2,facebook / lexical,Lexical is an extensible text editor framework...,98,TypeScript
3,girliemac / a-picture-is-worth-a-1000-words,I am trying to describe complex matters in sim...,2,-
4,WenchaoD / FSCalendar,"A fully customizable iOS calendar library, com...",22,Objective-C
5,PrefectHQ / prefect,The easiest way to automate your data,311,Python
6,Reiten966 / Polyformer,Polyformer is an open-source project that aims...,3,-
7,hashicorp / hcl,HCL is the HashiCorp configuration language.,72,Go
8,pittcsc / Summer2023-Internships,Collection of Summer 2023 tech internships!,219,Python
9,Technawi / SOC-Analyst-Diploma,-,,-
10,apache / hbase,Apache HBase,377,Java
11,codeedu / imersao8,-,2,TypeScript
12,go-gorm / gorm,"The fantastic ORM library for Golang, aims to ...",305,Go
13,elixir-ecto / ecto,A toolkit for data mapping and language integr...,662,Elixir
14,milvus-io / milvus,Vector database for scalable similarity search...,183,Go
15,knative / serving,"Kubernetes-based, scale-to-zero, request-drive...",242,Go
16,Azure / azure-sdk-for-java,This repository is for active development of t...,454,Java
17,Alamofire / Alamofire,Elegant HTTP Networking in Swift,240,Swift
18,OAI / OpenAPI-Specification,The OpenAPI Specification Repository,198,JavaScript
19,terraform-aws-modules / terraform-aws-alb,Terraform module to create an AWS Application/...,49,HCL
20,google / googletest,GoogleTest - Google Testing and Mocking Framework,356,C++
21,fastlane / fastlane,🚀 The easiest way to automate building and rel...,"1,221",Ruby
22,sourcegraph / sourcegraph,Universal code search (self-hosted),274,Go
23,woocommerce / woocommerce,"A customizable, open-source eCommerce platform...","1,165",PHP
24,firebase / firebase-ios-sdk,Firebase iOS SDK,177,Objective-C

In [164]:
d.close()

# Question 6

In [165]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.billboard.com/')

In [166]:
d.find_element_by_xpath('/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()

In [167]:
song = [i.text for i in d.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')]

In [169]:
song.insert(0, 'As It Was')

In [170]:
artist = [i.text for i in d.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')]

In [172]:
artist.insert(0, 'Harry Styles')

In [175]:
lastweekk = [i.text for i in d.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')]

In [178]:
lastweek = [lastweekk[i] for i in range(len(lastweekk)) if i % 2 == 0]
weeks = [lastweekk[i] for i in range(len(lastweekk)) if i % 2 != 0]

In [181]:
peakrankk = [i.text for i in d.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')]

In [184]:
peak = [peakrankk[i] for i in range(len(peakrankk)) if i % 2 != 0]

In [185]:
df = pd.DataFrame({'Song name': song, 'Artist': artist, 'Last Week Rank': lastweek, 'Peak Rank': peak, 'Weeks on board': weeks})

In [186]:
df

,Song name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,As It Was,Harry Styles,1,1,11
1,First Class,Jack Harlow,2,1,10
2,Wait For U,Future Featuring Drake & Tems,3,1,7
3,About Damn Time,Lizzo,5,4,9
4,Running Up That Hill (A Deal With God),Kate Bush,4,4,23
...,...,...,...,...,...
95,Plan B,Megan Thee Stallion,95,29,4
96,Tomorrow Me,Luke Combs,-,61,2
97,Potion,"Calvin Harris, Dua Lipa & Young Thug",87,71,3
98,New Truck,Dylan Scott,-,99,1
99,Wrapped Around Your Finger,Post Malone,47,47,2

In [187]:
d.close()

# Question 7

In [203]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.naukri.com/')

In [204]:
url1 = d.find_element_by_xpath('/html/body/div/div[2]/div[4]/div/div[2]/div[1]/div[3]/div/div/div/div/div/div[1]/div[1]/div/div[2]/div/a').get_attribute('href')

In [205]:
d.get(url1)

In [210]:
url = d.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a').get_attribute('href')

In [212]:
d.get(url)

In [213]:
d.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input').send_keys('data science')

In [214]:
d.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()

In [215]:
name = [i.text for i in d.find_elements_by_xpath('//span[@class="fl ellipsis"]')]

In [217]:
desg = [i.text for i in d.find_elements_by_xpath('//span[@class="ellipsis clr"]')]

In [219]:
comm = [i.text for i in d.find_elements_by_xpath('//a[@class="ellipsis"]')]
com = [comm[i] for i in range(len(comm)) if i % 2 != 0]

In [221]:
skills = [i.text for i in d.find_elements_by_xpath('//div[@class="hireSec highlightable"]')]

In [223]:
loc = [i.text for i in d.find_elements_by_xpath('//small[@class="ellipsis"]')]
loc.append('-')
loc.append('-')

In [226]:
df = pd.DataFrame({'Name': name, 'Designation': desg, 'Company': com, 'Skills they hire for': skills, 'Location': loc})

In [227]:
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ghaziabad
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,-

In [228]:
d.close()

# Question 8

In [229]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

In [230]:
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['in-article', 'sortable']

In [231]:
table = soup.find('table', class_='in-article sortable')

In [235]:
df = pd.DataFrame(columns=['Rank','Book', 'Author', 'Volumes Sold', 'Publisher', 'Genre'])

In [236]:
for row in table.tbody.find_all('tr'):    
    columns = row.find_all('td')
    
    if(columns != []):
        rank = columns[0].text.strip()
        book = columns[1].text.strip()
        author = columns[2].text.strip()
        vol = columns[3].text.strip()
        pub = columns[4].text.strip()
        genre = columns[5].text.strip()

        df = df.append({'Rank': rank,  'Book': book, 'Author': author, 'Volumes Sold': vol, 'Publisher': pub, 'Genre': genre}, ignore_index=True)

In [237]:
df

,Rank,Book,Author,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

In [238]:
d = webdriver.Chrome('chromedriver.exe')
d.get('https://www.imdb.com/list/ls095964455/')

In [239]:
name = [i.text for i in d.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')]

In [241]:
year = [i.text for i in d.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')]

In [244]:
genre = [i.text for i in d.find_elements_by_xpath('//span[@class="genre"]')]

In [246]:
time = [i.text for i in d.find_elements_by_xpath('//span[@class="runtime"]')]

In [248]:
ratingg = [i.text for i in d.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span')]
rating = [ratingg[i] for i in range(len(ratingg)) if i % 2 != 0]

In [251]:
votes = [i.text for i in d.find_elements_by_name('nv')]

In [255]:
df = pd.DataFrame({'Name': name, 'Year Span': year, 'Genre': genre, 'Run time': time, 'Rating': rating, 'Votes': votes})

In [256]:
df

,Name,Year Span,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,998,559"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,046,947"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"951,023"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"284,239"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"244,028"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,943"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,650"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,918"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,379"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"229,439"

In [257]:
d.close()